// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

//Colors
$green: #80c100;
$black: (
	primary: #2b2540,
	secondary: #212529,
);
$white: #ffffff;
$gray: (
	dark: #818090,
	regular: #e5e5e5,
	light: #f1f1f1,
);
