// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

//Colors
$green: #80c100;
$black: (
	primary: #2b2540,
	secondary: #212529,
);
$white: #ffffff;
$gray: (
	dark: #818090,
	medium: #c4c4c457,
	regular: #e5e5e5,
	light: #f1f1f1,
	thin: #e9e9e9,
);
$cream: #fceceb;

//Shadow
$shadow: 8px 10px 24px rgb(0 0 0 / 10%);
