.Appmenu {
	background-color: $white;
	display: flex;
	align-items: center;
	margin: 0 248px;
	padding: 12px 0;

	&Content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 60px;
		width: 100%;
	}

	&Image {
		background-image: url('https://foodingly.netlify.app/assets/img/logo.png');
		height: 40px;
		width: 225px;
		background-repeat: no-repeat;
	}

	&-item {
		color: map-get($black, primary);
		flex: 1;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		padding: 0 10px;
		text-decoration: none;
	}

	&Buttons {
		display: flex;
		align-items: center;
	}

	&-button {
		font-size: 22px;
		list-style: none;
		padding: 0 15px;
	}
}
