.Appbar {
	background-color: $green;
	color: $white;
	padding: 10px 0;
	width: 100%;

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1420px;
		margin: 0 auto;
		width: 100%;
	}

	&-info {
		color: $white;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 0;
		padding-left: 0;
	}

	&-item {
		color: $white;
		cursor: pointer;
		font-family: $font-primary;
		font-size: 14px;
		font-weight: 400;
		list-style: none;
		line-height: 1.5;
		margin-right: 25px;
		transition: color 0.3s ease-in-out;

		&::after {
			content: '';
			display: inline-flex;
			position: relative;
			top: 5px;
			right: -15px;
			width: 1px;
			height: 15px;
			background-color: map-get($gray, border);
		}

		&:nth-of-type(3) {
			&::after {
				display: none;
			}
		}

		&:hover {
			color: map-get($black, secondary);
		}
	}

	&-icon {
		color: $white;
		font-size: 13px;
		padding: 0 5px;
		text-decoration: none;

		&:hover {
			color: $white;
		}
	}

	&-settings {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		position: relative;
	}

	&-text {
		margin-left: 10px;
		margin-bottom: 0;
	}
}
