.Appmenu {
	background-color: $white;
	box-shadow: $shadow-menu;
	width: 100%;
	z-index: 100;

	&-container {
		display: flex;
		align-items: center;
		max-width: 1420px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 12px 0;
	}

	&.sticky {
		position: sticky;
		top: -1px;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 60px;
		width: 100%;
	}

	&-image {
		background-image: url('https://foodingly.netlify.app/assets/img/logo.png');
		height: 40px;
		width: 225px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		object-fit: cover;
	}

	&-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 630px;
	}

	&-item {
		color: map-get($black, primary);
		display: block;
		font-family: $font-secondary;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		padding: 10px 0;
		position: relative;
		text-decoration: none;

		&:hover {
			color: map-get($black, primary);
			.Appmenu-submenu {
				opacity: 1;
				visibility: visible;
				transform: translateY(15px);
			}
		}
	}

	&-submenu {
		background-color: $white;
		border-radius: 8px;
		box-shadow: $shadow-submenu;
		transform: translateY(80px);
		opacity: 0;
		visibility: hidden;
		padding: 10px 0;
		position: absolute;
		transition: 0.4s all ease-in-out;
		width: 230px;
	}

	&-submenuItem {
		font-family: $font-secondary;
		font-size: 15px;
		font-weight: 500;
		list-style: none;
		padding: 10px 25px;
		position: relative;

		&:hover {
			background-color: map-get($gray, submenu);
		}
	}

	&-submenuLink {
		color: map-get($black, secondary);
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}

	&-dropIcon {
		font-family: $font-primary;
		font-size: 14px;
		margin-left: 5px;
	}

	&-buttons {
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}

	&-icon {
		font-size: 22px;
		font-weight: 300;
		list-style: none;
		padding: 0 15px;

		&:nth-of-type(1) {
			&:hover {
				cursor: pointer;
			}
		}
		&:nth-of-type(2) {
			color: $green;
		}
	}
}
