.BO {
	background-image: url('https://foodingly.netlify.app/assets/img/banner/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 1086px;
	object-fit: cover;
	width: 100%;

	&Content {
		display: flex;
		margin: 0 200px;
		padding: 200px 0;
		flex: 1;
	}

	&-info {
		width: 100%;
	}

	&-title {
		color: $black;
		display: block;
		font-family: $font-primary;
		font-size: 50px;
		font-weight: 600;
	}

	&-light {
		font-family: $font-secondary;
		font-size: 14px;
	}

	&-image {
		width: 100%;
	}
}
