.Download {
	background-color: $white;

	&Content {
		display: flex;
		align-items: flex-start;
		padding: 80px 0;
		width: 1440px;
		margin: 0 240px;
	}

	&-info {
		width: 720px;
		padding-top: 50px;
	}

	&-title {
		font-family: $font-primary;
		font-size: 53px;
		line-height: 80px;
		font-weight: 500;
		max-width: 665px;
		margin-bottom: 20px;
	}

	&-text {
		color: map-get($gray, dark);
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 400;
		line-height: 35px;
		max-width: 696px;
		padding-bottom: 35px;
	}

	&-image {
		background-image: url('https://foodingly.netlify.app/assets/img/promotion/app.png');
		width: 446px;
		height: 556px;
	}

	&-buttons {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 22px;
	}

	&-button {
		width: 167px;
		height: 58px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 6px;
	}
}
