.Reservation {
	padding: 80px 0;
	background-color: map-get($gray, regular);

	&Head {
		width: 1416px;
		margin: 0 auto;
	}

	&-text {
		color: map-get($black, secondary);
		font-family: $font-primary;
		font-size: 24px;
		font-weight: map-get($weigth, light);
		margin-bottom: 20px;
		text-align: center;

		@extend .arrows;
	}

	&-title {
		color: map-get($black, secondary);
		font-family: $font-primary;
		font-size: 36px;
		font-weight: map-get($weigth, medium);
		line-height: 40px;
		margin-bottom: 15px;
		text-align: center;

		&::after {
			content: '';
			background: $green;
			display: block;
			height: 1px;
			margin: 0 auto;
			margin-top: 15px;
			width: 200px;
		}
	}
}
