.Subscribe {
	background-color: $white;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 80px 0;
		max-width: 1440px;

		@include media-breakpoint-down(lg) {
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 700px;
		}
	}

	&-info {
		display: flex;
		align-items: center;
		gap: 30px;

		@include media-breakpoint-down(lg) {
			margin-bottom: 30px;
		}
	}

	&-icon {
		background-image: url('https://foodingly.netlify.app/assets/img/common/email.png');
		width: 123.39px;
		height: 104.03px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		object-fit: cover;
	}

	&-text {
		color: map-get($black-color, secondary);
		font-family: $font-primary;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 11px;

		&:last-child {
			font-size: 36px;
			margin-bottom: 0;
		}
	}

	&-form {
		display: flex;
		align-items: center;
		flex: 1;
		width: 100%;
	}

	&-input {
		border: 2px dashed map-get($gray, input);
		font-size: 16px;
		font-weight: 400;
		height: 55px;
		padding: 10px 22px;
		width: 427.5px;

		&:focus {
			border: 2px dashed $green;
			outline: none;
		}

		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
}
